.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidde;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.web {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.web {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.studio {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.tiel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 53px;
  text-decoration: none;
  position: relative;

  color: #2196f3;
}
.renk {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 50px;
  text-decoration: none;
  position: relative;

  color: #212121;
}
.menu a::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  width: 0;
  height: 100%;

  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #2196f3;
  transition: all 0.5s;
}

.rena {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;

  color: #212121;
}
.menu a:hover::after {
  width: 100%;
}
.nume a::after {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  width: 40.34px;
  height: 100%;

  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  background: #2196f3;
  transition: all 0.5s;
}

.put {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #757575;
}

.features-subtitla {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.features-paragraf {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: #757575;
}
.hero {
  padding: 200px 0px;
  display: flex;
  width: 696px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.zagolovok {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  color: black;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  height: 600px;
  width: 1600px;

  color: #ffffff;
}
.rel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;

  letter-spacing: 0.03em;
  margin-bottom: 50px;

  color: #212121;
}

.thumb {
  margin: 10px;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  margin-top: 118px;
}
.lable {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  margin: 0;
  padding: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
}
.modal {
  display: none;
  max-width: 300px;
  position: fixed;
  top: 35%;
  left: 40%;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  z-index: 100px;
}
.modal label {
  display: flex;
  flex-direction: column;
}
.modal-input {
  margin-bottom: 10px;
}
.modal-btn {
  display: block;
  padding: 10px 20px;
  background-color: aqua;
  color: white;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: aquamarine;
  outline: none;
}
.is-visible {
  display: block !important;
}

.wel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  color: #212121;
}
.name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 30px;
  margin-bottom: 10px;

  letter-spacing: 0.03em;

  color: #212121;
}
.zwan {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.03em;

  color: #757575;
}

.class {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  letter-spacing: 0.03e;

  color: white;
}

.vulyc {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 20px;
}

.information {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.information {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.header-left {
  justify-content: space-between;
  align-items: center;
}

.conateiner {
  width: 1600px;
  height: 2928px;
  flex-shrink: 0;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.mainlist {
  text-align: center;
  height: 600px;
  width: 1200px;
  border-radius: [object Object]px;
}
.zagolovok {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../foto/Imgbisnes.png");
  height: 400x;
}
.cnopka {
  width: 216px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.robota {
  text-align: center;
  margin-bottom: 94px;
  justify-content: center;
  display: flex;
  text-align: center;
  width: 1600px;
}
.grey {
  flex-shrink: 0;
  background: #f5f4fa;
  height: 708px;
  width: 1600px;
  border-radius: [object Object]px;
  padding-top: 94px;
  padding-left: 215px;
  padding-right: 215px;
}
.tipofoot {
  text-align: center;
}
.manu {
  justify-self: center;

  align-items: center;
}
.featurs {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.left {
  display: flex;
  justify-content: space-between;
  width: 307px;
}
.wel {
  justify-content: space-between;
  text-align: center;
  color: #212121;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}
.text-cnopka {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.portfolio {
  display: flex;
  text-align: center;
}
.studi {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 281px;
  margin-left: 93px;
}
.conateiner {
  width: 1600px;
  margin: 0 auto;
}
.header {
  width: 1600px;
  display: flex;

  align-items: center;
  outline: 1px solid black;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navmenu {
  display: flex;
  width: 520px;
  justify-content: space-between;
  margin-right: 233px;
}
.main-future {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 94px;
}

.algebra {
  text-align: center;
}
.footer {
  background-color: rgba(47, 48, 58, 1);

  padding: 60px 215px 60px;
  max-width: 1600px;
  max-height: 252px;
}
h1,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a {
  list-style: none;
}
ul {
  list-style: none;
}
.nowe {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
}
.nowa {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
}
.nowu {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
}
.nowi {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
}
.pochatok {
  height: 248px;
  width: 270px;
  border-radius: [object Object]px;
  margin-right: 30px;
  margin-left: 215px;
}
.pochatok1 {
  height: 248px;
  width: 270px;
  border-radius: [object Object]px;
  margin-right: 30px;
}
.pochatok2 {
  height: 248px;
  width: 270px;
  border-radius: [object Object]px;
  margin-right: 30px;
}

.pochatok3 {
  height: 248px;
  width: 270px;
  border-radius: [object Object]px;
  margin-right: 215px;
}
.future-one {
  border: 1px solid rgba(175, 177, 184, 1);
  height: 92px;
  width: 170px;
  border-radius: [object Object]px;
  margin-right: 30px;
  margin-left: 215px;
  margin-bottom: 94px;
}
.future-two {
  border: 1px solid rgba(175, 177, 184, 1);
  height: 92px;
  width: 170px;
  border-radius: [object Object]px;
  margin-right: 30px;
  margin-bottom: 94px;
}

.future-free {
  border: 1px solid rgba(175, 177, 184, 1);
  height: 92px;
  width: 170px;
  border-radius: [object Object]px;
  margin-right: 30px;
  margin-bottom: 94px;
}
.future-four {
  border: 1px solid rgba(33, 150, 243, 1);
  height: 92px;
  width: 170px;
  border-radius: [object Object]px;
  margin-right: 30px;
  margin-bottom: 94px;
}
.future-five {
  border: 1px solid rgba(175, 177, 184, 1);
  height: 92px;
  width: 170px;
  border-radius: [object Object]px;
  margin-right: 30px;
  margin-bottom: 94px;
}
.future-six {
  border: 1px solid rgba(175, 177, 184, 1);
  height: 92px;
  width: 170px;
  border-radius: [object Object]px;
  margin-bottom: 94px;
}
.novuy {
  display: flex;

  text-align: center;
}
.client {
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}
.ser {
  height: 428px;
  width: 270px;
  border-radius: [object Object]px;
  width: 270px;
  height: 428px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  margin-right: 30px;
}

.contect-list {
  display: flex;
  justify-content: space-between;
  width: 307px;
  text-align: center;
}
.contact-list {
  display: flex;
  justify-content: space-between;
  width: 307px;
  margin-left: 341px;
}
.studia {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.lage-link {
  margin-left: 215px;
  margin-bottom: 60px;
}

.header-ul {
  display: flex;

  text-align: center;

  justify-content: space-around;
  padding: 0;
  margin-left: 453px;
}
.subscrib-bth {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}
.footer-email {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.label-text {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-right: 350px;
  margin-bottom: 20px;
}
.footer-form {
  text-align: right;
}
.footer-email {
  margin-right: 12px;
}
